$background-color-nav: #1b1b1b;
$background-color-main-medium: #222222;
$background-color-main-light: #2b2b2b;
$background-color-main-dark: #1e1e1e;
$text-orange: #a4834c;
$text-grey: #7e7e7e;
$text-white: white;
