/*section2 A propos*/
.article2 {
  @include article-color($background-color-main-medium);
  .article-marge2 {
    @extend .article-marge;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 80%;

    .article-description2 {
      width: 100%;
      justify-content: left;

      .apropos_h2 {
        @extend .font-title;
        text-align: left;
        overflow-wrap: break-word;
        padding-bottom: 2rem;
      }
    }
  }
}

/*section2 list contact*/
.list_contact {
  display: flex;
  color: $text-white;
  padding: 5rem;
  ul {
    color: $text-white;
    list-style: none;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  h2 {
    font-size: larger;
    padding-bottom: 3rem;
  }
  .adress {
    color: $text-grey;
  }

  a {
    color: $text-white;
    text-decoration-color: #a4834c;
  }
  .icons {
    margin-top: 1.5rem;
  }
}

.footer {
  background-color: $background-color-main-dark;
  margin-left: 20%;
  .footer_div {
    display: flex;
    justify-content: center;

    .footer_text {
      color: $text-white;
      .copyright {
        color: $text-grey;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .article2 {
    .article-marge2 {
      display: flex;
      flex-direction: column;
    }
  }
  .list_contact {
    padding: 0px;
    text-align: center;
  }
}
