.orange {
  color: $text-orange;
  font-size: 110%;
}

.white {
  color: $text-white;
}

.grey {
  color: $text-grey;
  font-size: 100%;
}

.navigation__barre {
  background-color: $background-color-nav;
  width: 20%;
  min-width: 200px;
  height: 100vh;
  float: left;
  position: fixed;
  .navigation__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    .navigation__stars {
      margin-bottom: -15px;
      margin-top: 20%;
      img {
        width: 10px;
      }
    }
    .navigation__title {
      font-size: 30px;
      font-weight: 100;
    }
    .navigation__slogan {
      margin-top: -15px;
      @include slogan-size;
    }
  }
  .navigation__links {
    input {
      display: none;
    }
    label {
      display: none;
    }
    margin-bottom: 30%;
    margin-left: -20px;
    li {
      list-style: none;
      margin: 10%;
      a {
        text-decoration: none;
        color: $text-grey;
        &:hover {
          color: $text-orange;
        }
      }
    }
  }
  .navigation__bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    align-items: center;
    margin: auto;
    .navigation__bottom-text {
      margin-left: 10px;
      p {
        margin: 0;
      }
      p[class="orange"] {
        font-size: x-large;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .navigation__barre {
    width: 100%;
    height: 10%;
    float: inline-start;
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 1;

    .navigation__top {
      display: flex;
      flex-direction: column;
      justify-content: baseline;
      align-items: center;
      width: 40%;
      height: 5%;
      order: 2;
      margin-top: 1%;
      .navigation__stars {
        margin-top: 2%;
      }
      .navigation__title {
        font-size: 25px;
        font-weight: 100;
        margin-top: 10px;
      }
      .navigation__slogan {
        display: none;
      }
    }
    .navigation__links {
      order: 1;
      width: 33%;
    }
    #hamburger {
      /* Pour que la checkbox ne s'affiche pas */
      display: none;
    }
    #hamburger-logo {
      /* Pour que le curseur soit un pointeur */
      cursor: pointer;
      background: $background-color-nav;
      width: 30%;
      display: block;
      color: $text-grey;
      /* Pour que le menu hamburger s'affiche toujours */
      text-align: right;
      padding: 10px;
    }
    ul {
      margin-top: 5%;
      display: flex;
      flex-direction: column;
      background: $background-color-nav;
      overflow: hidden;
      width: 110%;
      /* Pour que les liens soient "rangés" par défaut */
      transform: translateX(-230px);
      a {
        font-size: 15px;
      }
    }
    #hamburger-logo,
    ul {
      /* Pour qu'il y ait une animation */
      transition: 0.7s;
    }
    #hamburger:checked ~ ul {
      /* Changement de la position pour afficher les menus */
      transform: translate(0);
    }

    .navigation__bottom {
      order: 3;
      width: 33%;
      flex-direction: row-reverse;
      .navigation__bottom-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          font-size: 15px;
          text-align: center;
        }
        p[class="orange"] {
          font-size: 15px;
          text-align: center;
        }
      }
    }
  }
}
