.orange {
  color: $text-orange;
}

.white {
  color: $text-white;
}

.grey {
  color: $text-grey;
}

.navigation__barre {
  background-color: $background-color-nav;
  width: 20%;
  min-width: 200px;
  height: 100vh;
  float: left;
  .navigation__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    .navigation__stars {
      margin-bottom: -15px;
      margin-top: 20%;
    }
    .navigation__title {
      font-size: 30px;
      font-weight: 100;
    }
    .navigation__slogan {
      margin-top: -15px;
      @include slogan-size;
    }
  }
  .navigation__links {
    margin-bottom: 30%;
    margin-left: -20px;
    li {
      list-style: none;
      margin: 10%;
      a {
        text-decoration: none;
        color: $text-grey;
        &:hover {
          color: $text-orange;
        }
      }
    }
  }
  .navigation__bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    align-items: center;
    margin: auto;
    .navigation__bottom-text {
      margin-left: 10px;
      p {
        margin: 0;
      }
      p[class="orange"] {
        font-size: x-large;
      }
    }
  }
}
