.header__button {
  text-align: center;
  border: white solid 1px;
  width: 20%;
  padding: 20px 10px 20px 10px;
  margin-top: 50px;
  a {
    text-decoration: none;
    @include slogan-size;
  }
}

.button-vertical {
  border: white solid 1px;
  rotate: -90deg;
  width: 120px;
  padding: 10px;
  text-align: center;
  a {
    text-decoration: none;
    @include slogan-size;
  }
}

.button-filled {
  @extend .header__button;
  border: none;
  background-color: $text-orange;
  width: 200px;
}

@media screen and (max-width: 480px) {
  .header__button {
    min-width: 110px;
  }
}
