.header__chambre {
  background-image: url(../images/rooms/4.jpg);
  background-color: rgba(#000000, 0.4);
  background-blend-mode: overlay;
}

.article {
  @include article-color($background-color-main-medium);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .article-marge {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .article-description {
      width: 60%;
    }
  }
}
#top_duscman {
  color: $text-orange;
  @extend .font-title;
}

/*Aménagement list*/
.list_icon {
  display: flex;
  padding-right: 2rem;
  padding-left: 3.5rem;
  color: $text-grey;
  li {
    color: $text-grey;
    list-style: none;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  h2 {
    color: $text-white;
    font-size: x-large;
    padding-bottom: 2rem;
  }
  span {
    color: $text-orange;
  }
  a {
    text-decoration: none;
    color: $text-grey;
    &:hover {
      color: $text-orange;
    }
  }
}

/*check-in/out list*/

.check {
  li {
    color: $text-grey;
    list-style: none;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  span {
    color: $text-orange;
  }
  a {
    text-decoration: none;
    color: $text-grey;
    &:hover {
      color: $text-orange;
    }
  }
}

/*check list position*/
.article {
  display: flex;
  justify-content: flex-start;
  @extend .list_icon;
}

.button {
  background-color: rgb(102, 103, 105);
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-size: larger;
  cursor: pointer;
}

/*section2 A propos*/
.article2 {
  @include article-color($background-color-main-medium);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .article-marge2 {
    @extend .article-marge;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 80%;

    .article-description2 {
      width: 100%;
      justify-content: left;

      .apropos_h2 {
        @extend .font-title;
        text-align: left;
        overflow-wrap: break-word;
        padding-bottom: 2rem;
      }
    }
  }
}

/*section2 list contact*/
.list_contact {
  display: flex;
  color: $text-white;
  padding: 5rem;
  ul {
    color: $text-white;
    list-style: none;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  h2 {
    font-size: larger;
    padding-bottom: 3rem;
  }
  .adress {
    color: $text-grey;
  }

  a {
    color: $text-white;
    text-decoration-color: #a4834c;
  }
  .icons {
    margin-top: 1.5rem;
  }
}

.footer {
  background-color: $background-color-main-dark;
  margin-left: 20%;
  .footer_div {
    display: flex;
    justify-content: center;

    .footer_text {
      color: $text-white;
      .copyright {
        color: $text-grey;
      }
    }
  }
}
