p {
  letter-spacing: 0.1em;
  line-height: 1.3;
}

.header__chambre {
  background-image: url(../images/rooms/4.jpg);
  background-color: rgba(#000000, 0.4);
  background-blend-mode: overlay;
}

.article {
  @include article-color($background-color-main-medium);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .ch_article-marge {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .article-description {
      width: 60%;
    }
  }
}
#top_duscman {
  color: $text-orange;
  @extend .font-title;
}

/*Aménagement list*/
.list_icon {
  display: flex;
  padding-right: 5rem;
  padding-left: 3.5rem;
  color: $text-grey;
  li {
    color: $text-grey;
    list-style: none;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  h2 {
    color: $text-white;
    font-size: x-large;
    letter-spacing: 0px;
    transform: scaleY(1.2);
    padding-bottom: 2rem;
  }
  span {
    color: $text-orange;
  }
  a {
    text-decoration: none;
    color: $text-grey;
    &:hover {
      color: $text-orange;
    }
  }
}

/*check-in/out list*/
.check {
  justify-content: space-between;
  padding-right: 10rem;
  padding-left: 0;
  color: $text-grey;

  li {
    color: $text-grey;
    list-style: none;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  span {
    color: $text-orange;
  }
  a {
    text-decoration: none;
    color: $text-grey;
    &:hover {
      color: $text-orange;
    }
  }
}

/*check list position*/
.article {
  display: flex;
  justify-content: flex-start;
  @extend .list_icon;
}

.button_chambre {
  background-color: rgb(68, 68, 68);
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  font-size: larger;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .header__chambre {
    width: 100%;
    height: 60vh;
    background-position: center;
    background-size: cover;
    #titlechambre {
      overflow-wrap: normal;
      font-size: 30px;
      width: 50%;
      letter-spacing: 5px;
      text-align: center;
    }
  }

  .article {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: left;
    .ch_article-marge {
      flex-direction: column;
      justify-content: center;
      text-align: left;

      h1 {
        font-size: 30px;
      }
    }
  }

  .list_icon {
    flex-direction: column;
    padding: 0px;
    justify-content: center;
    text-align: center;
    ul {
      padding: 0px;
    }
  }
  .check {
    margin: auto;
  }
}
