body {
  background-color: $background-color-main-medium;
}
h2 {
  color: white; /*texte titre blanc*/
}
p {
  color: grey; /* texte paragraphre gris*/
}

.divgenerale {
  @extend .article-marge;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .divgauche {
    width: 60%;
  }
  .contact__info {
    margin-top: 45px;
  }
  .divdroite {
    width: 40%;
  }
}

/*--taille icônes--*/

.flaticon-envelope orange {
  width: 35px;
  height: 35px;
}
.flaticon-location-pin orange {
  width: 35px;
  height: 35px;
}

/*--centrage icones face texte--*/

.contact__info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: left;
  align-items: center;
  margin: 20px;
  .navigation__bottom-text {
    margin-left: 10px;
    p {
      margin: 0px;
    }
    p[class="orange"] {
      font-size: x-large;
    }
  }
}

.carte {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

/*-- couleur input noire--*/
input {
  color: $text-grey;
  background-color: $background-color-main-medium;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px rgba($color: $text-grey, $alpha: 0.5);
}
.contact__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  div {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 40px;
    label {
      color: $text-grey;
    }
  }
}
.contact__message {
  display: flex;
  color: $text-grey;
  flex-direction: column;
  textarea {
    background-color: $background-color-main-medium;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px rgba($color: $text-grey, $alpha: 0.5);
  }
}

iframe {
  filter: grayscale(99);
}

@media screen and (max-width: 480px) {
  .divgenerale {
    flex-direction: column;
    padding-top: 20%;
    align-items: center;
    text-align: center;
  }
  .divgauche {
    align-items: center;
    width: 100%;
    h1 {
      font-size: 40px;
    }
  }
  .contact__info {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    .navigation__bottom-text {
      margin: 0px;
    }
    p {
      width: 110%;
    }
  }
  .divdroite {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__container {
    flex-direction: column;

    div {
      width: 100%;
    }
  }
}
