.home__article {
  @include article-color($background-color-main-medium);
  display: flex;
  justify-content: center;
  .article-marge {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .home__article-description {
      width: 50%;
    }
    .images {
      width: 40%;
      display: flex;
      justify-content: space-between;
      img {
        width: 250px;
        text-align: center;
        height: 350px;
        object-fit: cover;
      }
      img[alt="Photographie restaurant"] {
        position: relative;
        top: 50px;
      }
      img[alt="Photographie chambre"] {
        position: relative;
        bottom: 50px;
      }
    }
  }
}

.article-marge {
  width: 90%;
  margin: auto;
}

.home__article2 {
  @include article-color($background-color-main-dark);
  .home__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    p {
      position: relative;
      top: 60%;
      left: 5%;
      font-size: 20px;
    }

    span {
      text-decoration: underline;
      text-underline-offset: 20px;
      font-size: 20px;
    }
    .button-vertical {
      position: relative;
      left: 300px;
    }
    .home__flex-box1 {
      background-image: url(/images/rooms/1.jpg);
      background-position: center;
      background-size: cover;
      width: 31%;
      height: 500px;
      p {
        position: relative;
        top: 72%;
      }
    }
    .home__flex-box2 {
      background-image: url(/images/rooms/2.jpg);
      background-position: center;
      background-size: cover;
      width: 31%;
      height: 500px;
      p {
        position: relative;
        top: 72%;
      }
    }
    .home__flex-box3 {
      background-image: url(/images/rooms/3.jpg);
      background-position: center;
      background-size: cover;
      width: 31%;
      height: 500x;
      p {
        position: relative;
        top: 72%;
      }
    }
    .home__flex-box4 {
      background-image: url(/images/rooms/4.jpg);
      background-position: center;
      background-size: cover;
      width: 48%;
      height: 350px;
      margin-top: 3%;
      .button-vertical {
        position: relative;
        left: 530px;
      }
    }
    .home__flex-box5 {
      background-image: url(/images/rooms/7.jpg);
      background-position: center;
      background-size: cover;
      width: 48%;
      height: 350px;
      margin-top: 3%;
      .button-vertical {
        position: relative;
        left: 530px;
      }
    }
  }
}
.home__article3 {
  @include article-color($background-color-main-medium);
  .article-marge {
    display: flex;
    .home__article-image {
      width: 50%;
      img {
        width: 100%;
      }
    }
    .home__article-description {
      width: 50%;
      display: flex;
      flex-direction: column;
      background-color: $background-color-main-light;
      div {
        padding: 15px;
        display: flex;
        flex-direction: column;
      }
      .button-filled {
        margin-left: 15px;
      }
    }
  }
}

.article-marge-inverted {
  @extend .article-marge;
  flex-direction: row-reverse;
}
