main {
  margin-left: 20%;
}

@media screen and (max-width: 480px) {
  main {
    margin-left: 0px;
  }
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
    position: relative;
  }
}
